@font-face {
    font-family: 'nisesegaregular';
    src: url('../font/nisesega-webfont.eot');
    src: url('../font/nisesega-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nisesega-webfont.woff2') format('woff2'),
         url('../font/nisesega-webfont.woff') format('woff'),
         url('../font/nisesega-webfont.ttf') format('truetype'),
         url('../font/nisesega-webfont.svg#nisesegaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
  to {
    color: hsla(360, 100%, 35%, 1);
  }
}

h1, h2, h3, h4, p {
  font-family: nisesegaregular;
  font-weight: normal;
}

html {
  font-size: calc(62.5%); /*  / 1600px */
}
h1 {
  color: hsla(360, 100%, 100%, 0);
  font-size: 24rem;
  font-weight: normal;
  text-align: center;

  animation-duration: 250ms;
  animation-name: fadein;
  animation-fill-mode: forwards;
}
.byline {
  color: hsla(360, 100%, 100%, 0);
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;

  animation-duration: 250ms;
  animation-name: fadein;
  animation-fill-mode: forwards;
}
.byline::first-line {
  font-size: 3rem;
  line-height: 6rem;
}
